# 1.

In [39]:
import pandas as pd

df = pd.read_excel('./corona.xlsx', header=0, index_col=0)

df['한국'] = [1, 1, 2, 3, 4, 7]

df.to_csv("./covid19.csv", encoding='utf-8-sig')

print("covid19.csv 저장 완료")

covid19.csv 저장 완료

In [40]:
import pandas as pd

df = pd.read_csv('./covid19.csv', header=0, index_col=0)

writer = pd.ExcelWriter("./covid19_new.xlsx")
df.to_excel(writer, sheet_name="sheet1")
df['중국'].to_excel(writer, sheet_name="sheet2")
df['타국'].to_excel(writer, sheet_name="sheet3")
df['한국'].to_excel(writer, sheet_name="sheet4")
writer.save()

print("covid19_new.xlsx 저장 완료")

covid19_new.xlsx 저장 완료

# 2.

In [70]:
import pandas as pd

df = pd.read_csv('./auto-mpg.csv', names=['mpg(연비)', 'cylinders(실린더수)', 'displacement(배기량)', 
                   'horsepower(출력)', 'weight(차중)', 'acceleration(가속능력)',
                   'modelYear(출시년도)', 'originNumber(제조국번호)', 'name(모델명)'])

df.to_csv("./auto-mpg-2.csv", encoding='utf-8-sig')

print("auto-mpg-2.csv 저장 완료")

auto-mpg-2.csv 저장 완료

In [73]:
df['name(모델명)'][df['modelYear(출시년도)'] >= 80]

309                vw rabbit
310    toyota corolla tercel
311       chevrolet chevette
312               datsun 310
313       chevrolet citation
               ...
393          ford mustang gl
394                vw pickup
395            dodge rampage
396              ford ranger
397               chevy s-10
Name: name(모델명), Length: 89, dtype: object

In [71]:
df = pd.read_csv('./auto-mpg-2.csv')

print(df['mpg(연비)'].std())
# print(df['horsepower(출력)'].std())

7.815984312565782

#### horsepower는 데이터 가운데 ?가 있어 숫자로 계산이 되지 않는다.

In [72]:
ndf = df.sort_values(by='modelYear(출시년도)', ascending=False)

ndf.to_csv("./auto-mpg-3.csv", encoding='utf-8-sig')

print("auto-mpg-3.csv 저장 완료")

auto-mpg-3.csv 저장 완료

# 3.

In [159]:
import pandas as pd

df = pd.read_excel('./남북한발전전력량.xlsx')

df_filter = df[df['발전 전력별'] == '원자력'].index
df1 = df.drop(df_filter)
df_filter = df[df['발전 전력별'] == '신재생'].index
df2 = df1.drop(df_filter).set_index(['전력량 (억㎾h)','발전 전력별'])

df2.iloc[0] = df2.iloc[1].add(df2.iloc[2])
df2.iloc[3] = df2.iloc[4].add(df2.iloc[5])


df2.to_csv("./남북한수력및화력발전전력량.csv", encoding='utf-8-sig')

print("남북한수력및화력발전전력량.csv 저장 완료")
df2.head(n=6)

남북한수력및화력발전전력량.csv 저장 완료

                 1990 1991 1992 1993  1994  1995  1996  1997  1998  1999  ...  \
전력량 (억㎾h) 발전 전력별                                                          ...
남한        합계      548  624  745  863  1063  1177  1316  1474  1256  1363  ...
NaN       수력       64   51   49   60    41    55    52    54    61    61  ...
          화력      484  573  696  803  1022  1122  1264  1420  1195  1302  ...
북한        합계      277  263  247  221   231   230   213   193   170   186  ...
NaN       수력      156  150  142  133   138   142   125   107   102   103  ...
          화력      121  113  105   88    93    88    88    86    68    83  ...

                  2007  2008  2009  2010  2011  2012  2013  2014  2015  2016
전력량 (억㎾h) 발전 전력별
남한        합계      2601  2714  2858  3261  3421  3507  3665  3505  3460  3589
NaN       수력        50    56    56    65    78    77    84    78    58    66
          화력      2551  2658  2802  3196  3343  3430  3581  3427  3402  3523
북한        합계       236   255   235   237   211   215   221   216   190   239
NaN       수력       133   141   125   134   132   135   139   130   100   128
          화력       103   114   110   103    79    80    82    86    90   111

[6 rows x 27 columns]

# 4.

In [124]:
import pandas as pd
import time
import datetime

def weekend(weekday) :
    if (weekday == 'sat' or weekday == 'sun') :
        return 1
    else :
        return 0
    
def season(month) :
    if month >= 3 and month <= 5 :
        return 'spring'
    elif month >= 6 and month <= 9 :
        return 'summer'
    elif month == 10 :
        return 'autumn'
    else :
        return 'winter'

weekday = ['sun', 'mon', 'tue', 'wed', 'thr', 'fri', 'sat']
index = 3

dt = datetime.date(2020, 1, 1)
p = datetime.timedelta(days=1)

df = pd.DataFrame(columns=['original', 'Year', 'Month', 'Day', 'weekday', 'weekend', 'season'])

for i in range(366) :
    df.loc[i] = [dt, dt.year, dt.month, dt.day, weekday[index], weekend(weekday[index]), season(dt.month)]
    dt += p
    index += 1
    if index > 6 :
        index = 0

df.head(n=366)

       original  Year Month Day weekday weekend  season
0    2020-01-01  2020     1   1     wed       0  winter
1    2020-01-02  2020     1   2     thr       0  winter
2    2020-01-03  2020     1   3     fri       0  winter
3    2020-01-04  2020     1   4     sat       1  winter
4    2020-01-05  2020     1   5     sun       1  winter
..          ...   ...   ...  ..     ...     ...     ...
361  2020-12-27  2020    12  27     sun       1  winter
362  2020-12-28  2020    12  28     mon       0  winter
363  2020-12-29  2020    12  29     tue       0  winter
364  2020-12-30  2020    12  30     wed       0  winter
365  2020-12-31  2020    12  31     thr       0  winter

[366 rows x 7 columns]